if (x == 1) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    %>

//Properties aan marker geven.
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");           
//Marker aan LayerGroup Toevoegen.
markers.addLayer(marker);
<%
};
%>
}
else if (x == 2) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;


    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].LUIERTAFEL == "ja" && toiletArray[i].TYPE == "toilet"){
        %>
//Properties aan marker geven.
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
//Marker aan LayerGroup Toevoegen.
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 3) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].LUIERTAFEL == "ja" && toiletArray[i].INTEGRAAL_TOEGANKELIJK == "ja"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 4) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].INTEGRAAL_TOEGANKELIJK == "ja"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 5) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].TYPE == "toilet"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 6) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].BETALEND == "nee"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}

else if (x == 7) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].BETALEND == "nee" && toiletArray[i].LUIERTAFEL == "ja" && toiletArray[i].TYPE == "toilet"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 8) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].BETALEND == "nee" && toiletArray[i].LUIERTAFEL == "ja" && toiletArray[i].INTEGRAAL_TOEGANKELIJK == "ja"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 9) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].BETALEND == "nee" && toiletArray[i].INTEGRAAL_TOEGANKELIJK == "ja"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 10) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].BETALEND == "nee" && toiletArray[i].TYPE == "toilet"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 11) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].LUIERTAFEL == "ja"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
}
else if (x == 12) {
<%
var length = toiletArray.length;
for(var i=0; i<length; i++ ) {

    //Markers op de juiste locatie.
    var x = parseFloat(toiletArray[i].X);
    var y = parseFloat(toiletArray[i].Y);


    //Juiste icoon bij type toilet
    var type = toiletArray[i].TYPE;
    var icon;

    switch (type) {
        case "toilet":
            icon = "TIcon";
            break;
        case "urinoir":
            icon = "UIcon";
            break;
    };


    //Popups met nodige info.
    var omschrijving = toiletArray[i].OMSCHRIJVING;
    var betalend = toiletArray[i].BETALEND;
    var straat = toiletArray[i].STRAAT;
    var nummer = toiletArray[i].HUISNUMMER;
    var postcode = toiletArray[i].POSTCODE;
    var district = toiletArray[i].DISTRICT;
    var doelgroep = toiletArray[i].DOELGROEP;
    var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
    var luiertafel = toiletArray[i].LUIERTAFEL;

    var luierimg;
    var handimg;

    if (luiertafel === "ja") {
        luierimg = "/icons/baby.png";
    } else {
        luierimg = "";
    };

    if (handicap === "ja") {
        handimg = "/icons/rolstoel.png";
    } else {
        handimg = "";
    };

    if (toiletArray[i].BETALEND == "nee" && toiletArray[i].LUIERTAFEL == "ja"){
        %>
var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");
markers.addLayer(marker);
<%
};
};
%>
};