<footer>
    <p>Copyright &copy; 2019</p>
</footer>

<script>
    var map = L.map('mapid').setView([51.218729, 4.406164], 15);
    var Hydda_Full = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);

    //Layergroep opmaken (nodig voor het clearen)
    var markers = L.layerGroup();

    //Custom iconen.
    var ToiletIcon = L.Icon.extend({
        options: {
            iconSize:     [35],
            iconAnchor:   [20, 17],
            popupAnchor:  [-3, -20]
        }
    });
    
    var GebruikerIcon = L.Icon.extend({
        options: {
            iconSize:     [50],
            iconAnchor:   [20, 40],
            popupAnchor:  [-3, -20]
        }
    });
    
    var TIcon = new ToiletIcon({iconUrl: '/icons/toilet-marker.png'}),
        UIcon = new ToiletIcon({iconUrl: '/icons/urinoir-marker.png'}),
        OIcon = new GebruikerIcon({iconUrl: '/icons/gebruiker-marker-alt.png'});


    // Mijn locatie opvragen
    map.locate({setView: true, maxZoom: 16});
    // Marker plaatsen op mijn locatie
    function onLocationFound(e) {
        var radius = e.accuracy;
        L.marker(e.latlng, {icon: OIcon}).addTo(map);
    }
    map.on('locationfound', onLocationFound);

    <%
    var length = toiletArray.length;
    for(var i=0; i<length; i++ ) {

        //Markers op de juiste locatie.
        var x = parseFloat(toiletArray[i].X);
        var y = parseFloat(toiletArray[i].Y);


        //Juiste icoon bij type toilet
        var type = toiletArray[i].TYPE;
        var icon;

        switch (type) {
            case "toilet":
                icon = "TIcon";
                break;
            case "urinoir":
                icon = "UIcon";
                break;
        };


        //Popups met nodige info.
        var omschrijving = toiletArray[i].OMSCHRIJVING;
        var betalend = toiletArray[i].BETALEND;
        var straat = toiletArray[i].STRAAT;
        var nummer = toiletArray[i].HUISNUMMER;
        var postcode = toiletArray[i].POSTCODE;
        var district = toiletArray[i].DISTRICT;
        var doelgroep = toiletArray[i].DOELGROEP;
        var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
        var luiertafel = toiletArray[i].LUIERTAFEL;
        
        
        var luierimg;
        var handimg;
        
        if (luiertafel === "ja") {
            luierimg = "/icons/baby.png";
        } else {
            luierimg = "";
        };
        
        if (handicap === "ja") {
            handimg = "/icons/rolstoel.png";
        } else {
            handimg = "";
        };

        %>



    //Properties aan marker geven.
    var marker = L.marker([<%=y%>, <%=x%>],{icon:<%=icon%>}).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p><p>Betalend: <span><%=betalend%></span></p><img src='<%=luierimg%>' class='image'><img src='<%=handimg%>' class='image'></div>");

                                            //Marker aan LayerGroup Toevoegen.
                                            markers.addLayer(marker);

                                            <%
                                            };
                                            %>
                                            //Markers op de kaart zetten.
                                            markers.addTo(map);

                                            function FilterChange(x) {
                                            markers.clearLayers();
                                            <% include filterfunction %>
                                            markers.addTo(map);
                                           };

</script>
</body>


</html>
