<footer>
    <p>Copyright &copy; 2019</p>
</footer>


<script>
    var map = L.map('mapid').setView([51.218729, 4.406164], 15);
    var Hydda_Full = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);

    // Mijn locatie opvragen
    map.locate({setView: true, maxZoom: 16});
    // Marker plaatsen op mijn locatie
    function onLocationFound(e) {
        var radius = e.accuracy;
        L.marker(e.latlng).addTo(map);
    }
    map.on('locationfound', onLocationFound);

    <%
    var length = toiletArray.length;
    for(var i=0; i<length; i++ ) {

        //Markers op de juiste locatie.
        var x = parseFloat(toiletArray[i].X);
        var y = parseFloat(toiletArray[i].Y);


        //Popups met nodige info.
        var omschrijving = toiletArray[i].OMSCHRIJVING;
        var type = toiletArray[i].TYPE;
        var betalend = toiletArray[i].BETALEND;
        var straat = toiletArray[i].STRAAT;
        var nummer = toiletArray[i].HUISNUMMER;
        var postcode = toiletArray[i].POSTCODE;
        var district = toiletArray[i].DISTRICT;
        var doelgroep = toiletArray[i].DOELGROEP;
        var handicap = toiletArray[i].INTEGRAAL_TOEGANKELIJK;
        var luiertafel = toiletArray[i].LUIERTAFEL;
        %>


    //Markers op de kaart zetten.
    L.marker([<%=y%>, <%=x%>]).addTo(map).bindPopup("<div class='popup'><h1><%=omschrijving%></h1><p><%=straat%>&nbsp;<%=nummer%></p><p><%=postcode%>&nbsp;<%=district%></p></div>");

                                                    <% 
                                                    };
                                                    %>

</script>
</body>
</html>